body {
  font-family: "Lato";

  div.wrap[role="document"] {
    overflow: hidden;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Bitter";
  margin-top: 0;
}
p {
  font-weight: 300;
}
img {
  max-width: 100%;
}

ul {
  padding-left: 0;
}

hr {
  border-width: 4px;
}
