// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$red:                   #EF5761;
$gray:                  gray;
$light-gray:            rgb(204, 202, 202);
$brand-primary:         $red;

$box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.22), 0px 2px 2px 0px rgba(0,0,0,0.24);
